# base
accelerate
cryptography
hydra-core
matplotlib
PyYAML
pybind11==2.13.6
scikit-build
scikit-build-core
sentencepiece
tensorboard
ray
pybase64
orjson
diffusers
translate
imageio
python-multipart
imageio[ffmpeg]
ks3sdk
pyarrow
pandas
h5py
flask
flask_cors
tqdm_loggable
types_boto3_s3
qwen_vl_utils
scipy
pynvml
webdataset
epath
wandb

# test
coverage
pytest
pytest_asyncio
pytest-cov
pytest_mock
pytest-random-order
wandb
